/* Fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Eliminar las reglas CSS por defecto de los navegadores */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    /* Box modeling */
    margin: 0;
    padding: 0;
    /* Display */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #176B87;
}

header {
    /* display config */
    display: flex;
    flex-direction: row;
    /* Box modeling */
    padding: 20px auto;
    /* width: 100%; */
    /* Colors */
    background: #1B1D34;
}


/* Logo */
.logo img {
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
}

/* Navbar composition */
.navComposition {
    width: 100%;
}

.mainTitle h1 {
    margin: 20px 20px 20px 200px;
    color: #ffffff;
}

.topNav {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* Box Modeling */
    width: 100%;
    border-bottom: 5px solid #ffffff;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialMedia img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

nav {
    margin: 20px auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 5px;
}

nav a {
    margin: 5em 0.75em 0.75em 0.75em;
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-transform: none;
    transition: 0.25s ease;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}


main {
    flex: 1;
    /* Es igual a flex-grow: 1; */
    /* Box modeling */
    margin: 20px;
    padding: 500px auto;
}


.containerInfo {
    float: left;
    width: 70%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}


.infoMain {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
    background-color: #DAFFFB;
    padding: 10px;
    margin: 10px;
}

.info .title {
    text-align: center;
    width: 16.75rem;
    height: 4.6875rem;

    border-radius: 10.3125rem;
    background: #D9D9D9;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.infoMain .textInfo {
    display: flex;
    justify-items: center;
    align-items: center;
    /* background-color: yellow; */
}

.infoMain .videoInfo {
    /* background-color: green; */
    margin: 20px;
}

aside {
    float: right;
    width: 30%;
    border-radius: 3.125rem;
    background: #64CCC5;
    min-height: 107vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50%;
    margin: 10px;
}

.videoinfo .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 16.75rem;
    height: 4.6875rem;

    border-radius: 10.3125rem;
    background: #D9D9D9;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.videogameslist {
    margin: 20px;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

footer {
    background-color: #1B1D34;
    padding: 10px;
    text-align: center;
    color: #fff;
}